// Hint colors
$hint-colors: (
    info: #6bf,
    warning: #fd6,
    danger: #f66,
) !default;

// {{< hint >}}
.book-hint {
    @each $name, $color in $hint-colors {
        &.#{$name} {
            border-left-color: $color;
            background-color: rgba($color, 0.1);
        }
    }
}

// #body > div.padding.highlightable {
//     margin-left: 12%;
//     max-width: 60rem;
// }
