/*

Semantic definitions of the mermaid graph elements
for styling. These variables should be used / modified
when applying a style decision to an element.

*/
/*

To maintain semantics, the selectors below must use the variable
names above, not "hard-coded" values.

*/
.messageText {
  fill: silver !important; }

.messageLine1 {
  stroke: silver !important; }

.cluster rect {
  fill: #101010 !important;
  stroke: darkgrey !important; }

.edgePath .path {
  stroke: #aeaeae !important; }

.clusters .label foreignObject div {
  color: white !important; }

body {
  color: silver; }
