@media only screen and (min-width: 1300px) {
  #body-inner {
    padding-left: 22%;
    padding-right: 22%;
    font-family: Georgia, "Times New Roman", Times, serif; } }

@media only screen and (max-width: 1299) {
  #body-inner {
    padding-left: 2%;
    padding-right: 2%; } }
