{{ partial "header.html" . }}

<p>
	🗓️ {{ dateFormat "2006-01-02" .Lastmod }}
</p>
{{ $readTime := mul (div (countwords .Content) 220.0) 60 }}
{{ $minutes := math.Floor (div $readTime 60) }}
{{ $seconds := mod $readTime 60 }}
<p>
	⏲️ Reading time: {{ $minutes }} {{ cond (eq $minutes 1) "minute" "minutes" }} and {{ $seconds }} {{ cond (eq $seconds 1) "second" "seconds" }}.
</p>

{{ .Content }}

<footer class="footline">
	{{with .Params.LastModifierDisplayName}}
	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}}
</footer>

{{ partial "footer.html" . }}
